.contCheckOut{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.contCheckOut form{
    width: 60vh;
}

.contCheckOut form label, .contCheckOut form button{
    margin-top: 10px;
}

span {
    display: block;
    color: red;
    font-size: 0.75rem;
}